<div class="comment-form">
  <%= form_with(model: [select_food_prep, comment], local: false) do |form| %>
    <div class="form-group">
      <%= form.label :content, "コメント内容" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "コメントを投稿", class: "btn btn-info"  %>
    </div>
  <% end %>
</div>