<div class="comment-form">
  <%= form_with(model: [select_food_prep, comment], local: false) do |form| %>
    <div class="field">
      <%= form.label :content, "コメント内容" %>
      <%= form.text_area :content %>
    </div>

    <div class="actions">
      <%= form.submit "コメントを投稿" %>
    </div>
  <% end %>
</div>