/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
h1,h2 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-weight: bold;
}

/* .background {
  
} */


.global_navigation {
  text-align: center;
}

.image_root {
  text-align: center;
}

/* .navbar {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  box-sizing: border-box;
} */
.main {
  text-align: center;
  min-height: 800px;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px;
  background-color: #C2EEFF;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
  
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
} */ 

/* .navbar-brand {
  color: #0000FF;
} */

/* footer {
  /* position: fixed; */
  /* width: 100%;
  left: 0;
  bottom: 0;
  height: 5%;
  background-color: #C2EEFF;
  color: black;
  text-align: center;
  } */ 
.container {
  /* width: auto; */
  /* max-width: 680px; */
  /* padding: 0 15px; */
  text-align: center;
  /* height: 30px; */
}

.calendar-title {
  font-weight: bolder;
  font-size: larger;
}

