/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
h1,h2 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-weight: bold;
}


.global_navigation {
  text-align: center;
}

.image_root {
  text-align: center;
}


.main {
  text-align: center;
  min-height: 90vh;
}


.container {
  /* width: auto; */
  /* max-width: 680px; */
  /* padding: 0 15px; */
  text-align: center;
  /* height: 30px; */
}

.calendar-title {
  font-weight: bolder;
  font-size: larger;
}

.top-body {
  background-image: url("lemon.jpg");
  background-size: contain;
  background-color:rgba(255,255,255,0.8); 
  background-blend-mode: lighten;
}


#notice {
  color: green; }


#error_explanation {
  color: firebrick;
}

/* #error_explanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;  */
  /* text-align: center; */
/* } */

/* #error_explanation ul li {
  font-size: 12px;
  list-style: square; } */

/* label {
  display: block; } */